html,
body{
    background-color: darkslategrey;
    margin: 0px;
    padding: 0px;
    display:flex;
    color: goldenrod;
    overflow: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 1;
    background-image:  radial-gradient(rgba(38, 44, 39, 1) 1.05px, transparent 1.05px), radial-gradient(rgba(38, 44, 39, 1) 1.05px, darkslategrey 1.05px);
    background-size: 42px 42px;
    background-position: 0 0,21px 21px;
}

.container {
    display:flex;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    justify-content: space-between; 
    align-items:center;
}

.input_fields {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    width: 70vw;
}

.input_fields > h1 {
    display: flex;
    justify-content: center;
}

.input_fields > fieldset {
    display: flex;
    justify-content: center;
    width: 30vw;
    align-self: center;
    padding: 0px;
    margin:0px;
    border: 2px solid #94B0D8;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin:0px;
}

form > input {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 15vw;
    height: 4vh;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: whitesmoke ;
    border: 3px solid whitesmoke;
}

form > input:focus {
    outline: none; 
    scale: 1.02;  
    transition: 0.5s;
}

label {
    margin-top: 5px;

}

#confirm_password {
    margin-bottom: 20px;
}

button {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 20px;
    width: 15vw;
    height: 5vh;
    background-color:#FBB9B0;
    outline: none;
    border: none;
    border-radius: 20px;
    line-height: 5vh;
}

button:hover {
    background-color: #94B0D8;
}

button:active {
    scale: 0.95;
}

.image {
    display:flex;
    align-self: end;
}

img {
    height: 100vh;
    width: auto;
    margin: 0px;
    padding: 0px;
    
}

.image > p {
    position: absolute;
    color: white;
    padding: 0px;
    margin-left: 100px;
    bottom: 2px;
    text-align: center;
}

a {
    color: #0076A8;
    text-decoration: none;
}

a:visited {
    color: #0076A8;
}

input[type=number] {
    -moz-appearance: textfield;
}

#bienvenida {
    animation: grow 2s;
    animation-fill-mode: backwards;
    scale: 1.5;
}

@keyframes grow {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.5;
    }
}




